    body {
        width: 1280px;
        background-image: url(./scr/cris.jpeg);
        background-repeat: no-repeat;
        font-family: 'Outfit', sans-serif;
        background-size: 100%;
    }


    #submitButton {
        padding: 1rem 2rem;
        font-weight: 700;
        background: rgb(255, 255, 255);
        color: blueviolet;
        border-radius: .5rem;
        border-bottom: 2px solid blueviolet;
        border-right: 2px solid blueviolet;
        border-top: 2px solid white;
        border-left: 2px solid white;
        transition-duration: 1s;
        transition-property: border-top,
            border-left,
            border-bottom,
            border-right,
            box-shadow;
    }


    #submitButton:hover {
        border-top: 2px solid blueviolet;
        border-left: 2px solid blueviolet;
        border-bottom: 2px solid rgb(238, 103, 238);
        border-right: 2px solid rgb(238, 103, 238);
        box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px;
    }

    #submitButton2 {
        padding: 1rem 2rem;
        font-weight: 700;
        background: rgb(255, 255, 255);
        color: blueviolet;
        border-radius: .5rem;
        border-bottom: 2px solid blueviolet;
        border-right: 2px solid blueviolet;
        border-top: 2px solid white;
        border-left: 2px solid white;
        transition-duration: 1s;
        transition-property: border-top,
            border-left,
            border-bottom,
            border-right,
            box-shadow;
    }

    #submitButton2:hover {
        border-top: 2px solid blueviolet;
        border-left: 2px solid blueviolet;
        border-bottom: 2px solid rgb(238, 103, 238);
        border-right: 2px solid rgb(238, 103, 238);
        box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px;
    }


    #input-note {
        height: 26px;
        width: 400px;
        color: blueviolet;
        font-weight: 700;
        background: rgb(255, 255, 255);
        border-radius: .5rem;
        border-bottom: 2px solid blueviolet;
        border-right: 2px solid blueviolet;
        border-top: 2px solid white;
        border-left: 2px solid white;
        transition-duration: 1s;
        transition-property: border-top,
            border-left,
            border-bottom,
            border-right,
            box-shadow;
        padding: 10px 25px;
    }


    #input-note:hover {
        border-top: 2px solid blueviolet;
        border-left: 2px solid blueviolet;
        border-bottom: 2px solid rgb(238, 103, 238);
        border-right: 2px solid rgb(238, 103, 238);
        box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px;
    }

    #input-note::placeholder {
        color: rgba(137, 43, 226, 0.488);
    }

    #note-form {
        display: flex;
        width: 100%;
        justify-content: center;
        padding-left: 40px;
    }



    .buttonRemove {
        width: 70px;
        height: 35px;
        cursor: pointer;
        display: flex;
        margin-left: 20px;
        align-items: center;
        background: blueviolet;
        border: none;
        border-radius: 5px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
        background: blueviolet;
    }

    .buttonRemove .buttonRemove span {
        transition: 200ms;
    }

    .buttonRemove .text {
        transform: translateX(10px);
        color: white;
        font-weight: bold;
    }

    .buttonRemove .icon {
        position: absolute;
        border-left: 1px solid blueviolet;
        transform: translateX(70px);
        height: 15px;
        width: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .buttonRemove svg {
        width: 15px;
        fill: #eee;
    }

    .buttonRemove:hover {
        background: blueviolet;
    }

    .buttonRemove:hover .text {
        color: transparent;
    }

    .buttonRemove:hover .icon {
        width: 59px;
        border-left: none;
        transform: translateX(0);
    }

    .buttonRemove:focus {
        outline: none;
    }

    .buttonRemove:active .icon svg {
        transform: scale(0.8);
        display: none;
    }

    ul {
        margin-top: 50px;
        margin-left: 200px;
        margin-right: 200px;
    }


    li {
        list-style-image: url();
        display: flex;
        justify-content: space-between;
        font-size: 25px;
        margin-top: 15px;
        margin-bottom: 25px;
        color: blueviolet;
        letter-spacing: 0;
        text-shadow: -1px -1px 1px white, 1px -1px 1px white, -1px 1px 1px white, 1px 1px 1px white;
        padding-bottom: 10px;
        border-bottom: 1px blueviolet solid;
    }

h1 {
    text-align: center;
    color: white;
    font-family: Georgia, serif;
    font-size: 40px;
    letter-spacing: 0;
    text-shadow: -1px -1px 1px blueviolet, 1px -1px 1px blueviolet, -1px 1px 1px blueviolet, 1px 1px 1px blueviolet;
    }

